body {
  background-color: rgb(13, 20, 49);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 0.3rem;
}

.select-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
}

.select-container input {
  margin-right: 0.3rem;
}

.play-text-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.play-text-container textarea {
  width: 90%;
}

.play-text-container button {
  width: 90%;
  height: 2rem;
  background-color: rgb(56, 159, 44);
  padding: 0;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: 0;
  border-radius: 0.3rem;
  cursor: pointer;
}

.play-text-container button:hover {
  background-color: rgb(49, 146, 38);
}

.card {
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: rgb(223, 223, 223);
  color: black;
  border: 1px solid rgb(44, 44, 44);
  border-radius: 0.5rem;
  box-shadow: 2px 1px 1px rgb(0, 0, 0);
}
